/* Begin CSS Reset code */
/*
  html, body, div, span, applet, object, iframe,
         h1, h2, h3, h4, h5, h6, p, blockquote, pre,
         a, abbr, acronym, address, big, cite, code,
         del, dfn, em, img, ins, kbd, q, s, samp,
         small, strike, strong, sub, sup, tt, var,
         b, u, i, center,
         dl, dt, dd, ol, ul, li,
         fieldset, form, label, legend,
         table, caption, tbody, tfoot, thead, tr, th, td,
         article, aside, canvas, details, embed, 
         figure, figcaption, footer, header, hgroup, 
         menu, nav, output, ruby, section, summary,
         time, mark, audio, video {
             margin: 0;
             padding: 0;
             border: 0;
             font-size: 100%;
             font: inherit;
             vertical-align: baseline;
         }
*/
/*
          HTML5 display-role reset for older browsers 
         article, aside, details, figcaption, figure, 
         footer, header, hgroup, menu, nav, section {
             display: block;
         }
         ol, ul {
             list-style: none;
         }
         blockquote, q {
             quotes: none;
         }
         blockquote:before, blockquote:after,
         q:before, q:after {
             content: '';
             content: none;
         }
         table {
             border-collapse: collapse;
             border-spacing: 0;
         }
*/
         /* End CSS Reset */
/* Begin My Css */


#header{
    background-color: #afaea7;
    width: 100%;
    position:relative;
    text-align: center;
    text-align: left;
    
}
html{
    background-color: #afaea7
}
h1 {
    font-family: 'Archivo Black', sans-serif;
    font-size:50;
    letter-spacing:  1rem;
    text-align: center;
    width: 100%;
    height: auto;
    margin-bottom: auto;
    FLOAT:left;
}
h2  {
    font-family: 'Cormorant Garamond', serif;
    font-size:50px;
    text-align:left;
    font-style: italic;
    margin-top: auto;
    margin-bottom: auto;
}
h3{
    font-family: 'Cormorant Garamond', serif;
    font-size:50px;
    text-align:center;
    font-style:normal;
    margin-top: auto;
    margin-bottom: auto;
}
h4{
    font-family: 'Cormorant Garamond', serif;
    font-size:20;
    text-align: center;
    margin-top: auto;
}
h5 {font-family: 'Cormorant Garamond', serif;
    font-size:20;
    text-align: right;
    font-style: italic;
    
}
h6{
    font-family: 'Archivo Black', sans-serif;
    font-size:20px;
}
body {
    max-width: 1500px;
    font-family:'Cormorant Garamond', serif;
    font-weight:50;
    text-align:center;
    margin:1rem;       
}
column {
    float: left;
    width: 50%;
    padding: 10px;
    height: 300px
}
}
b1 {
    margin-bottom: -100px;
    margin-top:auto;
}
img {
    width: 100%;
    height: auto;
}
#col {
  -moz-column-count: 2;
  -webkit-column-count: 2;
  column-count: 2;
}
.container {
  background: linear-gradient(
    to right, 
    #deddd4 0%, 
    #deddd4 50%, 
    #deddd4 50%, 
    #deddd4 100%
}

textarea;{
  height: 100%;
  width: 100%;
}
.closebtn {
    float: center;
    color: #000000;
    font-size: 20px;
    cursor: pointer;
}
img.resize {
    max-width: 40%;
    max-height: 40%;
}